body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.main{
  width: 626px;
  margin: 64px auto 0;
}

.main h1{
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
  color: #3F3D56;
}

.main h1 span{
  font-weight: bold;
  color: #EE24FF;
}

.p1{
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  margin-bottom: 32px;
  width: 540px;
}

.p1 span{
  color:#3F3D56;
  font-weight: bold;
}

.p2{
  color: #828282;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 64px;
}

.line{
  border: 1px solid #ECEFF2;
  width: 390px;
  margin: 0 auto 16px;
}

.footer{
  margin-bottom: 41px;
}

.footer a{
  margin: 64px auto 0;
  text-align: center;
  text-decoration: none;
  color: #3F3D56;
  font-weight: bold;

}

.footer a+a+a{
  margin-left: 42px;
}

.footer a+a{
  margin-left: 42px;
}

.wave{
  bottom: 0;
  margin: 0 auto;
}

